.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #f0f2f5;
  padding-bottom: 20px;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.left-section {
  flex: 1;
  text-align: center;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container, .create-page {
  align-items: center;
}

@media (max-width: 768px){
  .main-content {
    flex-direction: column;
  }

  .left-section, .right-section {
    width: 100%;
  }
}

