.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #f0f2f5;
}

.main-content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.left-section {
  flex: 1;
  text-align: center;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

