.footer {
    width: 100%;
    padding: 10px 0;
    background-color: #f5f6f7;
    text-align: center;
    font-size: 0.875rem;
    color: #737373;
    position: relative;
}

.footer-languages,
.footer-links {
    margin-bottom: 10px;
}

.footer a{
    margin: 0 8px;
    color: #385898;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-copyright {
    margin-top: 10px;
}